@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/hk-grotesk.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'HK Grotesk', sans-serif;
}

.header {
    padding: 0 10%;
    position: relative;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.08);
}

.main-headings {
    display: flex;
}

.main-headings > li {
    /* border: 1px solid black; */
    list-style: none;
    text-decoration: none;
    padding: 3rem 2rem;
    position: relative;
    transition: box-shadow 0.5s;
}

.main-headings > li:hover,
.main-headings > li:focus {
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.08);
}

.main-headings > li:last-child {
    box-shadow: unset;
}

.main-headings a {
    text-decoration: none;
    color: inherit;
}

.solutions,
.resources,
.why-edly {
    /* background-color: rgb(101, 101, 189); */
    position: absolute;
    max-height: 0;
    top: 118px;
    left: 0;
    overflow: hidden;
    transition: all 0.2s ease-out;
}

.header-swipe {
    box-shadow:  0px 2px 15px 0px rgba(0, 0, 0, 0.08);
    transition: max-height 0.5s ease-in;
    max-height: 500px;
}

.sub-menu-wrapper {
    display: flex;
    padding: 2rem;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.sub-menu li {
    list-style: none;
    margin: 0.5rem 0;
    white-space: nowrap;
    transition: color 0.5s;
}

.solutions li:first-child {
    font-weight: bold;
}

.solutions .sub-menu :not(li:first-child):hover {
    color: rgb(215, 32, 32);
}

.why-edly li:hover,
.why-edly li:focus,
.resources li:hover,
.resources li:focus {
    color: rgb(215, 32, 32);
}

.request-demo {
    padding: 1rem;
    background-color: rgb(215, 32, 32);
    border: 2px solid rgb(215, 32, 32);
    color: white !important;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}

.request-demo:hover {
    padding: 1rem;
    background-color: white;
    color: rgb(215, 32, 32) !important;
    border-radius: 10px;
    border: 2px solid rgb(215, 32, 32);
}

.ham-burger {
    display: none;
}

@media (max-width: 1275px) {


    /* ham-burger animation */
    .ham-burger {
        display: block;
        padding: 3rem 0;
    }

    .ham-burger span {
        display: block;
        width: 20px;
        margin: 0.2rem;
        border: 2px solid red;
        border-radius: 10px;
        transition: transform 0.2s;
    }

    .clicked-ham-burger span:nth-child(2) {
        visibility: hidden;
    }

    .clicked-ham-burger span:nth-child(1) {
        transform-origin: center;
        transform: rotate(45deg) translateY(10.5px);

    }

    .clicked-ham-burger span:nth-child(3) {
        transform-origin: center;
        transform: rotate(-45deg) translateY(-10.5px);
    }

    .main-headings {
        display: none;
    }

}
